/Web-Service-Gestione-Prenotazioni-Clinica/nbproject/private/
/WebServiceClinica/nbproject/private/
/WebServiceClinica/build/
/WebServiceClinica/dist/
/GestionePrenotazioniClinica/target/
/WebApplicationClinica/nbproject/private/
/WebApplicationClinica/build/
/WebApplicationClinica/dist/
/WebApplication1/nbproject/private/
/WebApplication1/dist/
/WebApplication1/build/
/WebApplicationClinicaPrivata/nbproject/private/
